.label__wrapper {
  display: flex;
  flex-direction: column;
}
.label__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

.label__item{
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    line-height: 20px;
    min-width: 40px;
    width: auto;
    padding: 4px 12px;
    margin: 4px;
    color: white;
    transition: all .2s ease-in-out;
    box-shadow: 0 2px 4px 0 #ccc;


}

.label__item:hover{
    box-shadow: 0 2px 4px 0 #bbb;
}
.microcopy__text {
  font-size: 14px;
  color: #4A4A4A;
  text-align: center;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  line-height: 20px;
  margin: 16px 0;
}
.microcopy__icon {
  margin-bottom: 16px;
}
.label__none{
    /*background-color: #4A4A4A;*/
    background: -webkit-linear-gradient(left top, #68E0E6, #005AFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #68E0E6, #005AFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #68E0E6, #005AFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #68E0E6, #005AFF);
}
.label__sky {
    background-color: #00C2E0;
}
.label__lime {
    background-color: #51E898;
}
.label__pink {
    background-color: #FF80CE;
}
.label__black {
    background-color: #4d4d4d;
}
.label__yellow {
    background-color: #F2D600;
}

.label__orange {
    background-color: #FFAB4A;
}
.label__blue {
    background-color: #0079BF;
}
.label__purple {
    background-color: #C377E0;
}
.label__green {
    background-color: #61BD4F;
}
.label__red {
    background-color: #EB5A46;
}

.selection__heading {
	font-family: "Fira Sans", sans-serif;
	color: #4A4A4A;
	margin-bottom: 40px;
  color: #FFFFFF;
  font-size: 28px;
  line-height: 40px;
}



.selection__container--animation {
	animation-name: fade-in-container;
    animation-duration: 1s;
}

.selection__wrapper {
	padding: 120px 120px 56px;
  text-align: left;
}

.selection__container {
  display: grid;
  grid-template-columns: 50% 50%;
}

@keyframes fade-in-container {
	0% {opacity: 0; transform: translate(0, 100%);}
    100% {opacity: 1; transform: translate(0, 0);}
}

.select-field__select {
    -webkit-appearance: button;
    -moz-appearance: none;
    -o-appearance: button;
    text-indent:  0.01px;
    text-overflow: '';
    background: #F3F3F3;
    border-radius: 4px;
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    color: #4A4A4A;
    box-shadow: 0 2px 2px -2px;
    height: 64px;
    padding: 16px 40px;
    max-width: 600px;
    min-width: 480px;
    margin: 16px 0;
    border: 1px solid transparent;
    cursor: pointer;
}

.select-field__select:hover {
  background: rgba(0, 0, 0, 0.08);
}

.undo__button {
    display: flex;
    flex-direction: row;
    font-family: "Fira Sans";
    font-size: 18px;
}
.normalize__undo-button {
    border: none;
    background: none;
}
.undo__button img {
    width: 24px;
    margin-right: 8px;
}


.selection-form {
  background: white;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  padding: 20px 24px 24px 24px;
  margin: 0 16px 20px 0;
}

.board-selection__microcopy {
  color: #4A4A4A;
  font-family: "Fira Sans";
  font-size: 16px;
  line-height: 20px;
}
