.button__primary {
  background-color: #F3F3F3;
  box-shadow: 0 2px 2px -2px;
  color: #4A4A4A;
  padding: 20px 32px;
  border-radius: 4px;
  margin: 8px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  transition: background-color 0.2s ease-in-out;

}

.button__primary:hover {
  background-color: #efefef;
  color: #4A4A4A;
  }

.button__text {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
}