.button__primary {
  background-color: white;
  box-shadow: 0 2px 4px 0;
  color: #4A4A4A;
  padding: 20px 32px;
  border-radius: 4px;
  margin: 8px 160px;

}

.button__primary:hover {
  background-color: #F3F3F3;
  }

.button__text {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
}