#disclaimer {
        width: 80%;
        margin: auto;
}

.disclaimer__logo-container {
	margin: 56px 0 16px;
	text-align: center;
	fill: #0099FF;
}

.disclaimer__heading, .privacy__heading {
	text-align: center;
	font-size: 32px;
  	font-family: "Fira Sans", sans-serif;
  	font-weight: bold;
  	margin: 16px 8px 32px;
}

.disclaimer__content, .privacy__content {
	text-align: center;
	font-family: "Fira Sans", sans-serif;
	font-size: 18px;
	line-height: 1.3;
}

.privacy__content{
	text-align: left;
}

.disclaimer__content br {
	margin-bottom: 16px;
}

.disclaimer__close-button {
	text-align: center;
	font-family: "Fira Sans", sans-serif;
	font-size: 18px;
	line-height: 1.3;
	color: #005AFF;
	text-decoration: none;
	margin: 64px 0;
}



.disclaimer__close-link {
	text-decoration: none;
	color: white;
	background-color: #0099FF;
	padding: 16px;
	border-radius: 4px;
	transition: background-color 0.2s ease-in-out;
}

.disclaimer__close-link:hover {
	background-color: #005AFF;
}

.disclaimer__link {
	text-decoration: none;
	color: #0099FF;
}

.disclaimer__link:hover {
	color: #005AFF;
}