.footer{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 40px;
    position: fixed;
    bottom: 32px;
    right: 64px;
}

.footer--animated {
  animation-name: fade-in-container;
  animation-duration: 1s;

}

@keyframes fade-in-container {
	0% {opacity: 0; transform: translate(-100%, 0);}
    100% {opacity: 1; transform: translate(0, 0);}
}



.footer__container {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    margin: 32px 0;
}

.footer__item {
    color: white;
    transition: all .5s ease-in-out;
    font-family: "Fira Sans";
    font-size: 10px;
    letter-spacing: 0.83px;
    line-height: 12px;
    text-transform: uppercase;
    margin-left: 24px;
    opacity: 0.75;
}

.footer__link {
    color: white;
    text-transform: uppercase;

}

.footer__link:hover {
    text-decoration: underline;
    color: white;
}

.footer__fade-in {
    animation-name: fade-in-container;
    animation-duration: 1.75s;
}
