.footer{
    width: 100%;
}

.footer__container {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 50%;
    margin: 32px 0;
}

.footer__item {
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-size: 12px;
    transition: all .5s ease-in-out;
}

.footer__link {
    color: white;
}

.footer__link:hover {
    text-decoration: underline;
    color: white;
}

.footer__fade-in {
    animation-name: fade-in-container;
    animation-duration: 1.75s;
}
