.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.footer--animated {
  animation-name: fade-in-container;
  animation-duration: 1s;

}

@keyframes fade-in-container {
	0% {opacity: 0; transform: translate(0, 100%);}
    100% {opacity: 1; transform: translate(0, 0);}
}



.footer__container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 32px 0;
    align-self: flex-end;
}

.footer__item {
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-size: 12px;
    transition: all .5s ease-in-out;
}

.footer__link {
    color: white;
}

.footer__link:hover {
    text-decoration: underline;
    color: white;
}

.footer__fade-in {
    animation-name: fade-in-container;
    animation-duration: 1.75s;
}
