.logout__button {
    margin: 32px 0;
    text-align: left;
    width: 50%;
    float: left;
}

.logout__button--style {
  color: white;
  background: transparent;
  border: none;
  font-family: "Fira Sans", sans-serif;
  text-decoration: underline;
}

.logout__fade-in {
  animation-name: fade-in-container;
  animation-duration: 1.75s;
}
