.recap__overlay {
    position: fixed;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;

}

.recap-overlay__container {
    background-color: white;
    margin: 72px 120px;
    border-radius: 4px;
    padding: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.recap-overlay__title {
    font-size: 32px;
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
    color: #4A4A4A;
    margin-bottom: 32px;
}
.recap-overlay__button {
    background-color: #4A90E2;
    color: white;
    cursor: pointer;
    margin: 32px 16px 0;
}

.recap-overlay__button button {
    appearance: none;
    background: transparent;
    border: none;
}

.recap-overlay__button:hover {
    background-color: #005AFF;
    color: white;
}

.overlay-trigger__button {
    background-color: #4A90E2;
    cursor: pointer;
}

.labels-trigger__button {
    background-color: #F3F3F3;
    display:flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 2px 2px -2px;
    color: #4A4A4A;
    padding: 16px;
    border-radius: 4px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    transition: background-color 0.2s ease-in-out

}

.labels-trigger__button:hover{
    background-color: rgba(0, 0, 0, 0.08);
    padding:16px;
}

.overlay-trigger__button:hover {
    background-color: #005AFF;
}

.trigger-button__link, .trigger-button__link:hover {
    color: white;
    text-decoration: none;
}

.trigger-recap__button{
    color:#4A4A4A;
}

.recap__item {
    margin: 4px;
    padding: 16px 32px;
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    color: #4A4A4A;
    box-shadow: 0 2px 2px -2px;
    background: #F3F3F3;
    border-radius: 4px;
    min-width: 320px;
}

.recap__content{
    display:flex;
    justify-content: space-between;
}

.recap__text{
 margin-bottom:0;
}

.recap__color{
    width:24px;
    height: 24px;
    border-radius: 100%;
    background-color:#F3F3F3;
    border:2px solid white;
}


.recap__container {
    display: flex;
    flex-direction: column;
}

