.send-success__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.send-success__heading {
    margin: 16px 0 32px;
    font-size: 24px;
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
    width: 100%;
    color: #4A4A4A;
}
.success-buttons__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prioritize-again__button {
    min-width: 480px;
}

.check-trello__button {
    min-width: 480px;
}

.prioritize-again__button:hover {
    text-decoration: none;
}

.check-trello__button:hover {
    text-decoration: none;
}

.success-animation__stroke-secondary {
    fill:none;
    stroke:#4A90E2;
    stroke-width:3;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2.5s ease-in-out forwards;
}
.success-animation__stroke-main {
    fill:none;
    stroke:#4A90E2;
    stroke-width:4;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2.5s ease-in-out forwards;
}

.send-success__svg {
    enable-background:new 0 0 100 100;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}