.send-ordered__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 2px 4px 0;
	padding: 54px 80px;
}

.send-ordered__button button {
	background: rgba(0,0,0,0);
	border: none;
}


.send-ordered__button {
	max-width: 560px;
}

.send-ordered__wrapper {
	padding: 120px 120px 56px;
    text-align: center;	
}

.send-ordered__heading {
	margin: 16px 0 32px;
  	font-size: 24px;
  	font-family: "Fira Sans", sans-serif;
  	font-weight: bold;
  	width: 100%;
	color: #4A4A4A;
}

.almost-done__fill {
	fill:none;
	stroke:#4A90E2;
	stroke-width:3;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: dash 2.5s ease-in-out forwards;
}

.almost-done__svg {
	enable-background:new 0 0 100 100;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}