exports.config = {
  directConnect: true,
  suites: {
    single: [
      'tests/protractor/specs/extension-redirect-spec.js',
      'tests/protractor/specs/order-spec.js',
      'tests/protractor/specs/undo-forget-spec.js',
      'tests/protractor/specs/undo-multiple-spec.js',
      'tests/protractor/specs/send-to-board-spec.js',
      'tests/protractor/specs/sort-one-label-spec.js',
      'tests/protractor/specs/usingGithubApi.js',
      'tests/protractor/specs/handle-0-1-card-error-spec.js',
    ],
    server: [
      'tests/protractor/specs/dotvoting-spec.js',
      'tests/protractor/specs/dotvoting-multiple-rooms-spec.js',
      'tests/protractor/specs/voter-board-permissions-spec.js',
      'tests/protractor/specs/voter-board-permissions-spec-github.js',
      'tests/protractor/specs/dotvoting-two-rooms-spec-github.js',
      'tests/protractor/specs/wrong-params-url-spec.js',
      'tests/protractor/specs/empty-params-url-spec.js',
    ]
  },
  restartBrowserBetweenTests: true,
  capabilities:
      {
        browserName: 'chrome',
      }
  ,
  baseUrl: 'https://sortello.ideato.it:4000',
  framework: 'jasmine',
  params: {
    authenticationDone: false,
    testGithubExtId : '',
    testGithubUsername : '',
    testGithubPassword : '',
    testGithubUsername2 : '',
    testGithubPassword2 : '',
    testTrelloUsername: '',
    testTrelloPassword: '',
    testTrelloExtId: '',
    testTrelloExtId2: '',
    testTrello2Username: '',
    testTrello2Password: '',
    testTrello3Username: '',
    testTrello3Password: '',
    testTrello4Username: '',
    testTrello4Password: '',
    testTrelloPrivateBoardExtId: '',
    hostname: ''
  },
  onPrepare: function () {
    browser.ignoreSynchronization = true;
    protractor.accessFromChromeExtension = require('./tests/protractor/accessFromChromeExtension.js');
    protractor.accessFromChromeExtensionGithub = require('./tests/protractor/accessFromChromeExtensionGithub.js');
    protractor.simpleAccessFromChromeExtension = require('./tests/protractor/simpleAccessFromChromeExtension.js');
    protractor.selectWindow = require('./tests/protractor/selectWindow.js');
    protractor.expectRecap = require('./tests/protractor/expectRecap.js');
    protractor.common = require('./tests/protractor/common.js');
  }
};