exports.config = {
  specs: [
    'tests/protractor/asc-choices-spec.js',
    'tests/protractor/desc-choices-spec.js',
    'tests/protractor/forget-spec.js',
    'tests/protractor/undo-spec.js',
    'tests/protractor/recap-spec.js',
    'tests/protractor/send-to-board-spec.js'
  ],
  restartBrowserBetweenTests: true,
  capabilities: {
    browserName: 'chrome',
  },
  baseUrl: 'http://localhost:4000',
  framework: 'jasmine',
  params: {
      testTrelloUsername: '',
      testTrelloPassword: '',
      testTrelloExtId: ''
    },
    onPrepare: function() {
      browser.ignoreSynchronization = true;
      protractor.accessFromChromeExtension = require('./tests/protractor/accessFromChromeExtension.js');
      protractor.selectWindow = require('./tests/protractor/selectWindow.js');
      protractor.expectRecap = require('./tests/protractor/expectRecap.js');
    }
};