.choice_button {
    cursor: pointer;
}

.forkMeRibbon {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
}

.forkMeRibbon img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.btn {
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 18px;
    font-family: "montserrat", sans-serif;
    -webkit-appearance: none;
    margin-bottom: 20px;

}

.btn:hover {
    background: white;
    color: #0000a3;
    transition: all 0.3s ease;
}

input[type="text"]{
    border: 0 none;
    padding: 4px 10px;
}

a{
    cursor: pointer;
}

a:hover{
    color: #333;
}

p.card_link{
    text-align: right;
}

p.card_link a{
    margin: 45px 20px -45px 0px;
    background: #0000a3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #0099ff, #0000a3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0099ff, #0000a3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0099ff, #0000a3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0099ff, #0000a3); /* Standard syntax */
}

.choice_button{
    transition: all 0.3s ease;
    border-radius: 5px;
    border: 2px solid white;
    background: none;
}

.choice_button h1{
  font-family: "montserrat", sans-serif;
}

.choice_button:hover h1{
  color: #0000a3;
}

h2{
  font-family: "montserrat", sans-serif;
}

p {
  font-family: "montserrat", sans-serif;
  font-size: 21px;
  font-weight: 300;
}

.choice_button:hover{
    background: white;
    font-size: 21px;
}

.checkboard{
    display: none;
    transition: all 0.3s ease;
}

#container_div{
    height: 100%;
    overflow: hidden;
    font-size: 24px;
}

#api_key_div{
    height:100%;
    background: #0000a3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #0099ff, #0000a3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0099ff, #0000a3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0099ff, #0000a3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0099ff, #0000a3); /* Standard syntax */
    color: #eee;
    text-align: center;
    transition: all 0.3s ease;
}

#card_url_div{
    height:100%;
    background: #0000a3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #0099ff, #0000a3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0099ff, #0000a3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0099ff, #0000a3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0099ff, #0000a3); /* Standard syntax */    color: #eee;
    text-align: center;
    transition: all 0.3s ease;
}

#second_div{
    height:100%;
    background: #0000a3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #0099ff, #0000a3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0099ff, #0000a3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0099ff, #0000a3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0099ff, #0000a3); /* Standard syntax */
    color: white;
    text-align: center;
}

.centered_content.row{
    margin-top: -100px;
}

#last_div{
    height:100%;
    background: #CCC9E7;
    color: #333;
    text-align: center;
}

/*new css by Phil-Z*/
.api_input {
  margin: 10px;
}
.api-suggestion {
  font-size: 18px;
  margin: 20px 0;
  font-family: "montserrat", sans-serif;
}
#api_key_div input {
  width: 30%;
  background: none;
  border-bottom: solid 2px white;
  text-align: center;
}
a {
  color: #0099ff;
}

a:hover {
  color: white;
}

.st0 {
  fill: white;
  display: inline-block;
}

.centered-logo {
  margin: 0 20px 100px;
}
