@media (max-width: 768px) {
    .recap-overlay__container {
      margin: 32px 56px;
      padding: 32px;
    }
    .recap-overlay__title {
      font-size: 18px;
    }
    .recap__item {
      min-width: 240px;
    }
}
@media (max-width: 480px) {
  .recap-overlay__container {
    margin: 16px 32px;
    padding: 16px;
  }
  .recap__item {
    min-width: 200px;
  }
}
