@media (max-width: 1280px) {

	#api_key_div input {
	    width: 100%;
	    background: none;
	    border-bottom: solid 2px white;
	    text-align: center;
	}
	.wrapper__api-key {
   	 	padding: 96px 96px 96px;
	}
}

@media (max-width: 1024px) {

	#api_key_div input {
	    width: 100%;
	    background: none;
	    border-bottom: solid 2px white;
	    text-align: center;
	}
	.wrapper__api-key {
   	 	padding: 96px 96px 96px;
	}
}

@media (max-width: 768px) {
	.wrapper__api-key {
    	padding: 96px 56px 96px;
	}
}

@media (max-width: 480px) {
	.wrapper__api-key {
    	padding: 56px 16px 56px;
	}
	.api-key__claim {
    	font-size: 16px;
	}
	.input__api-key {
		margin: 0 0 16px;
		font-size: 14px;
	}
	.button__text {
		font-size: 14px;
	}
	.button__primary {
		padding: 16px 20px;
	}
	.button__suggestion {
	    font-size: 14px;
	    margin: 16px 0;
	}
}