@media (max-width: 1280px) {

	.selection__wrapper {
		padding: 96px 25% 80px;
	}
	.selection__heading {
		font-size: 32px;
		margin-bottom: 32px;
	}
	.select-field__select {
	    font-size: 18px;
	    padding: 16px;
	    min-width: 480px;
	    margin: 16px 0;
	}
}

@media (max-width: 1280px) {

	.selection__wrapper {
		padding: 96px 120px 80px;
	}
	.selection__heading {
		font-size: 32px;
		margin-bottom: 32px;
	}
	.select-field__select {
	    font-size: 18px;
	    padding: 16px;
	    min-width: 480px;
	    margin: 16px 0;
	}
}

@media (max-width: 1024px) {

	.selection__wrapper {
		padding: 96px 80px 80px;
	}
	.selection__container {
		padding: 40px 32px;
	}
	.selection__heading {
		font-size: 32px;
		margin-bottom: 32px;
	}
	.select-field__select {

	    font-size: 18px;
	    padding: 16px;
	    min-width: 480px;
	    margin: 16px 0;
	}
}

@media (max-width: 768px) {

	.selection__wrapper {
		padding: 56px 56px 32px;
	}
	.selection__container {
		padding: 40px 32px;
	}
	.selection__heading {
		font-size: 24px;
		margin-bottom: 32px;
	}
	.select-field__select {

	    font-size: 16px;
	    padding: 16px;
	    min-width: 320px;
	    margin: 16px 0;
	}
}

@media (max-width: 480px) {

	.selection__wrapper {
		padding: 40px 32px 32px;
	}
	.selection__container {
		padding: 24px 20px;
	}
	.selection__heading {
		font-size: 21px;
		margin-bottom: 16px;
	}
	.select-field__select {

	    font-size: 14px;
	    padding: 16px;
	    min-width: 42px;
	    margin: 8px 0;
	}
}

@media (max-width: 320px) {

	.selection__wrapper {
		padding: 40px 16px 32px;
	}
	.selection__container {
		padding: 16px;
	}
	.selection__heading {
		font-size: 20px;
		margin-bottom: 16px;
	}
	.select-field__select {

	    font-size: 14px;
	    padding: 16px;
	    min-width: 42px;
	    margin: 8px 0;
	}
}