@media (min-width: 1280px) {
	.container__choose-card {
    	padding: 56px 72px 72px;
	}
	#second_div {
		padding: 72px 96px 56px;
	}
	.choose-card__heading {
		font-size: 32px;
	}
	.card__title {
    	font-size: 24px;
    }
    .card-button__see-card {
		font-size: 18px;
	}
	.text__prioritization-status {
		font-size: 20px;
		margin-top: 56px;
	}
	.progressive-bar__status-structure {
	  margin: 32px 56px 32px;
	  width: 90%;
	  height: 16px;
	  border-radius: 16px;
	  background-color: #F3F3F3;
	  max-width: 800px;
	}

	.progressive-bar__status {
	  height: 16px;
	  border-radius: 16px;
	  width: 800px;
		}
}

@media (max-width: 1024px) {

	.choose-card__heading {
    	margin: 16px 0 32px;
    }
    .container__choose-card {
    	padding: 32px 56px 40px;
	}
}

@media (max-width: 768px) {
	.container__choose-card {
	    display: flex;
	    flex-direction: column;
	    padding: 32px 28px 40px;
	}
	.wrapper__card {
		width: 100%;
	}
	#second_div {
		padding: 56px 48px 32px;
	}
}

@media (max-width: 480px) {
	#second_div {
		padding: 32px 16px 32px;
	}
	.choose-card__heading {
    	font-size: 18px;
    }
    .card__title {
    	font-size: 16px;
    }
    .container__card {
    	padding: 16px;
    }
    .container__choose-card {
	    padding: 16px 16px 20px;
	}
	.card-button__see-card {
		font-size: 14px;
	}
}

@media (max-width: 320px) {
	.choose-card__heading {
    	font-size: 16px;
    	margin: 16px 0;
    }
    .card__title {
    	font-size: 14px;
    }
 
    .card-button__see-card {
    	padding: 12px;
    }
}
