@media (min-width: 1280px) {
	.container__choose-card {
    	padding: 56px 72px 72px;
	}
	#second_div {
		padding: 72px 96px 56px;
	}
	.choose-card__heading {
		font-size: 32px;
	}
	.card__title {
    	font-size: 24px;
    }
    .card-button__see-card {
		font-size: 18px;
	}
	.card-button__esclude {
		font-size: 18px;
	}
	.card-button__continue {
		font-size: 18px;
	}
	.text__prioritization-status {
		font-size: 20px;
		margin-top: 56px;
	}
	.progressive-bar__status-structure {
	  margin: 32px 56px 32px;
	  width: 90%;
	  height: 16px;
	  border-radius: 16px;
	  background-color: #F3F3F3;
	  max-width: 800px;
	}

	.progressive-bar__status {
	  height: 16px;
	  border-radius: 16px;
	  width: 800px;
		}

	
	
}

@media (max-width: 1024px) {

	.choose-card__heading {
    	margin: 16px 0 32px;
    }
    .container__choose-card {
    	padding: 32px 32px 40px;
	}
	.share-room__container {
		margin: 20vh 56px;
		padding: 32px 0;
	}
	.share-room__heading {
		font-size: 20px;
		line-height: 32px;
	}
	#second_div {
    padding: 56px 56px 32px;
	}
}

@media (max-width: 768px) {
	.container__choose-card {
	    display: flex;
	    flex-direction: column;
	    padding: 32px 28px 40px;
	}
	.wrapper__card {
		width: 100%;
	}
	#second_div {
		padding: 56px 48px 32px;
	}
	.share-room__container {
		margin: 10vh 5vw;
		padding: 32px 0;
	}
	.share-room__heading {
		font-size: 16px;
		line-height: 24px;
	}
	#room-link {
		width: 90%;
		margin-bottom: 16px;
		font-size: 12px;
	}
}

@media (max-width: 480px) {
	#second_div {
		padding: 32px 8px 32px;
	}
	.choose-card__heading {
    	font-size: 18px;
    }
    .card__title {
    	font-size: 14px;
    }
    .container__card {
		padding: 16px;
		margin-top: 8px;
    }
    .container__choose-card {
	    padding: 16px 16px 20px;
	}
	.card-button__see-card {
		font-size: 12px;
		margin: 4px;
		padding: 8px;
	}
	.button-text__esclude {
		font-size: 12px;
		padding: 8px;
	}
	.wrapper__card-buttons {
		padding: 8px 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	.card-button__continue {
		font-size: 12px;
		margin: 4px;
		padding: 8px;
	}
	.card-button__esclude {
		margin: 4px;
	}
	.label__separator {
		height: 1px;
		width: 100%;
		background: rgba(0,0,0,0.2);
		margin: 2px 0 8px;
	}
	.choose-card__heading {
    	margin: 8px 0 16px;
	}
	.wrapper__card {
		padding: 0;
	}
	.share-room__button {
		font-size: 10px;
		margin: 0px 8px 0 16px;
		padding: 8px;
	}
	.card__voter{
		height: 16px;
	}
	.card__admin{
		height: 16px;
	} 
	.guest__label {
		font-size: 10px;
	}
	.undo__button {
    font-size: 10px;
	}
	.undo__button img {
    width: 16px;
	}
	.normalize__undo-button {
		margin-top: 0;
	}
	.container__actions-bar {
     margin-top: 8px;
	}
	.container__top-bar {
		align-items: initial;
	}
	.choose-card__heading {
		margin: 0;
		font-size: 16px;
	}
	.voter-info__text {
		font-size: 10px;
	}
	.card__voters {
		margin-top: 8px;
	}
	.progressive-bar__status-structure {
		margin: 8px 8px 16px;
	}
	.share-room__container {
		margin: 10vh 16px;
		padding: 20px 0;
	}
	.share-room__heading {
		font-size: 14px;
		line-height: 20px;
		margin-top: 32px;
	}
	#room-link {
		width: 90%;
		margin-bottom: 16px;
		font-size: 12px;
	}


}

@media (max-width: 320px) {

	.wrapper__card-buttons {
	display: flex;
	flex-direction: column;
	}

	.choose-card__heading {
    	font-size: 16px;
    	margin: 16px 0;
    }
    .card__title {
    	font-size: 14px;
    }

    .card-button__see-card {
    	padding: 12px;
    }

	.card-button__esclude {
		padding: 12px;
	}
	.card-button__continue {
		padding: 12px;
	}
}
