@media (max-width: 768px) {
	.footer__item {
	    font-size: 10px;
	}

	.footer{
	    display: flex;
	    flex-direction: row-reverse;
	    align-items: center;
			margin-top: 0;
			position: inherit;

	}
}

@media (max-width: 480px) {
	.footer__container {
    flex-direction: column-reverse;
    text-align: center;
    margin: 0;
	}
	.logout__button {
    margin: 0 0 16px;
    text-align: center;
	}
	.footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
		margin-top: 32px;
	}
	.logout__button--style {
    margin-left: 0px;
	}
	.footer__item {
    margin-left: 0;
		margin-bottom: 16px;
	}
}
