@media (max-width: 768px) {
	.footer__item {
	    font-size: 10px;
	}

	.footer{
	    display: flex;
	    flex-direction: row-reverse;
	    align-items: center;
			margin-top: 0;
			position: inherit;

	}
}
