@media (min-width: 768px) {
    .send-ordered__heading {
        margin: 16px 0 32px;
    }
}

@media (max-width: 768px) {
    .send-ordered__heading {
        margin: 16px 0 32px;
    }
}

@media (max-width: 480px) {
    .send-ordered__heading {
        font-size: 18px;
        margin: 16px 0 16px;
    }
}