@media (min-width: 768px) {
    .button__text {
        font-size: 18px;
    }
    .send-success__heading {
        margin: 16px 0 32px;
    }
}
@media (max-width: 768px) {
    .prioritize-again__button {
        width: 100%;
        min-width: auto;
    }
    .check-trello__button {
        width: 100%;
        min-width: auto;
    }
    .send-ordered__wrapper {
        padding: 72px 56px 56px;
    }
    .button__text {
        font-size: 16px;
    }
    .send-ordered__container {
        padding: 54px 32px;
    }
    .send-success__heading {
        margin: 16px 0 32px;
    }
}

@media (max-width: 480px) {
    .send-ordered__wrapper {
        padding: 32px 20px 40px;
    }

    .send-ordered__container {
        padding: 32px 20px;
    }

    .send-success__heading {
        font-size: 18px;
        margin: 16px 0 16px;
    }

    .button__text {
        font-size: 12px;
    }
}